*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
}

:root{
    --bg-color-light: #eaeaea;
    --bg-color-dark: #1e1e1e;
    
    --text-light:#000000;
    --text-dark: #ffffff;

    --border-light: #000000;
    --border-dark: #FFFFFF;

    --box-shadow-out-light: rgba(255, 0, 0, 0.6);
    --box-shadow-in-light: rgba(0, 0, 255, 0.6);
    --box-shadow-out-dark: rgba(128, 255, 0, 0.4);
    --box-shadow-in-dark: #ffffff;

    --bg-button-light: #0000ff;
    --bg-button-dark: #008000;
}

main{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 7vh;
    background-color: var(--bg-color-light);
    color: var(--text-light);
    user-select: none;
}

.wrapper-mode{
    display: flex;
    justify-content: flex-end;
    top: 5px;
    padding: 10px 20px;
    width: 100%;
}

.mode-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--bg-button-light);
    padding: 5px 10px;
    color: var(--text-dark);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px var(--box-shadow-in-light), 0 0 20px var(--box-shadow-out-light);
}

.mode-btn:hover{
    background-color: var(--bg-color-light);
    color: var(--text-light);
}

.toggle-mode{
    background-color: inherit;
    border: inherit;
    color: inherit;
}

.darkmode{
    background-color: var(--bg-color-dark);
    color: var(--text-dark);
}

.darkmode .game, .darkmode button, .darkmode .score, .darkmode .controls, .darkmode .mode-btn{
    box-shadow: 0 0 10px var(--box-shadow-in-dark), 0 0 20px var(--box-shadow-out-dark);
}

.darkmode button, .darkmode button:hover, .darkmode .mode-btn{
    background-color: var(--bg-button-dark);
}

.darkmode .score, .darkmode .controls{
    border: 1px solid var(--border-dark);
}

.darkmode .mode-btn:hover{
    background-color: var(--bg-color-dark);
    color: var(--text-dark);
}

.darkmode .controls-mobile p span{
    filter: invert(100%);
}

h1{
    font-size: 3rem;
    text-shadow: 2px 0 0 blue, -2px 0 0 red;
    position: relative;
    z-index: 9;
    margin-bottom: 1.875rem;
}

h1::after{
    content: '';
    width: 100%;
    height: 6.25rem;
    bottom: -2.5rem;
    left: 0;
    position: absolute;
    background-image: url(../img/snake.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter:opacity(.4);
    z-index: -1; 
}

.game{
    max-width: 25rem;
    background-color: black;
    box-shadow: 0 0 10px var(--box-shadow-in-light), 0 0 20px var(--box-shadow-out-light);
    display: none;
}

button{
    margin-top: 0.625rem;
    padding: 1.25rem 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px var(--box-shadow-in-light), 0 0 20px var(--box-shadow-out-light);
    background-color: var(--bg-button-light);
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: var(--bg-button-light);
    filter:grayscale(.5);
}

.score{
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border-light);
    gap: 1.25rem;
    padding: 1.25rem;
    box-shadow: 0 0 10px var(--box-shadow-in-light), 0 0 20px var(--box-shadow-out-light);
}

.score p:nth-child(1){
    font-size: 1.5rem;
}

.score p:nth-child(1) span{
    font-size: 1.8rem;
    font-weight: bold;
}

.controls{
    width: 25rem;
    border: 1px solid var(--border-light);
    box-shadow: 0 0 2px var(--box-shadow-in-light), 0 0 4px var(--box-shadow-out-light);
    padding: 1.25rem 2.5rem;
}

.controls h2{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1.25rem;
}

.controls > p{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.controls > p > span{
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    background-size: cover;
    font-size: 1.5rem;
}

.up{
    background-image: url(../img/up.png);
}
.left{
    background-image: url(../img/left.png);
}
.down{
    background-image: url(../img/down.png);
}
.right{
    background-image: url(../img/right.png);
}

.left-right{
    background-image: url(../img/left-right.png);
    background-size: cover;
}
.down-up{
    background-image: url(../img/down-up.png);
}

.controls-mobile{
    display: none;
}

.controls-mobile p span{ 
    width: 4rem;
    height: 4rem;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    main{
        max-width: 100vw;
        gap: 1.25rem;
    }
    h1{
        max-width: inherit;
        font-size: 2rem;
    }
    h1::after{
        max-width: inherit;
    }

    button{
        margin-top: 0;
        padding: 0.625rem 1.25rem;
    }
    .wrapper-mode{
        max-width: inherit;
        padding-right: 0;
    }
    .game{
        max-width: 97vw;
    }
    .controls{
        max-width: inherit;
        padding: 0.625rem 1.25rem;
    }
    .controls h2{
        font-size: 1.1rem;
        margin-bottom: 0.625rem;
    }
    .score{
        max-width: inherit;
        gap: 0.75rem;
    }
    .score p:nth-child(1){
        font-size: 1.1rem;
    }    
    .score p:nth-child(1) span{
        font-size: 1.2rem;
        font-weight: bold;
    }
    .score p:nth-child(2){
        font-size: .9rem;
    }
    .restart{
        margin-top: 2.5rem;
    }
    .controls-mobile{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .constrols-desktop{
        display: none;
    }
}